*.cmake
*.cpp_parameters
*.db
*.vs/
*.suo
*.sln
*.moc
*.obj
*.pdp
*.dll
*.lib
*.exe
*.log
*.tlog
*.opendb
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.cxx_parameters
cmake*.cmake
install_*.txt
qrc_*.cpp
moc_*.cpp
mocs_*.cpp
ui_*.cpp
ui_*.h
*.ipch
Solution.VC.*

x64/
build/
src/build/
publish/outputs/*.exe

# Ignore .DS_Store files on OSX
.DS_Store
*.vcxproj
*.vcxproj
*.vcxproj